.item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure full width for responsiveness */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }
  
  .item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    border-radius: 8px 8px 0 0;
  }
  
  .item h3 {
    font-size: 1.2rem;
    margin: 16px 0;
    color: #343a40;
  }
  
  .item p {
    font-size: 0.9rem;
    color: #555;
    margin: 8px 0;
  }
  
  .item-prices {
    display: flex;
    gap: 20px;
  }
  
  /* Responsive Styles */
  
  /* Extra Small Devices (phones, less than 400px) */
  @media (max-width: 400px) {
    .item {
      padding: 12px;
    }
  
    .item img {
      height: auto; /* Ensure image maintains aspect ratio */
    }
  
    .item h3 {
      font-size: 1rem;
    }
  
    .item p {
      font-size: 0.8rem;
    }
  
    .item-prices {
      flex-direction: column;
      gap: 10px;
    }
  
    .item-price-new{
        color: #374151;
        font-size: 18px;
        font-weight: 600;
    }
    .item-price-old {
      color: #8c8c8c;
      font-size: 18px;
      font-weight: 500;
      text-decoration: line-through;
    }
  }
  
  /* Small Devices (portrait tablets and large phones, less than 768px) */
  @media (max-width: 768px) {
    .item {
      padding: 14px;
    }
  
    .item h3 {
      font-size: 1.1rem;
    }
  
    .item p {
      font-size: 0.85rem;
    }
  
    .item-prices {
      flex-direction: column;
      gap: 15px;
    }
  
    .item-price-new{
        color: #374151;
        font-size: 18px;
        font-weight: 600;
    }
    .item-price-old {
        color: #8c8c8c;
        font-size: 18px;
        font-weight: 500;
        text-decoration: line-through;
    }
  }
  
  /* Medium Devices (landscape tablets, less than 992px) */
  @media (max-width: 992px) {
    .item {
      padding: 16px;
    }
  
    .item h3 {
      font-size: 1.15rem;
    }
  
    .item p {
      font-size: 0.9rem;
    }
  
    .item-prices {
      flex-direction: row;
      gap: 20px;
    }
  
    .item-price-new{
        color: #374151;
        font-size: 18px;
        font-weight: 600;
    }
    .item-price-old {
        color: #8c8c8c;
        font-size: 18px;
        font-weight: 500;
        text-decoration: line-through;
    }
  }
  